# Variables d'environnement d'exemple

# Symfony
APP_ENV=
APP_SECRET=

# Caddy / Mercure
CADDY_MERCURE_JWT_SECRET=
SERVER_NAME=

# Base de données
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_VERSION=
POSTGRES_CHARSET=
DATABASE_URL=
MESSENGER_TRANSPORT_DSN=

# PgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Stripe
STRIPE_API_KEY=
STRIPE_SECRET_KEY=

# Lexik JWT
JWT_SECRET_KEY=
JWT_PUBLIC_KEY=
JWT_PASSPHRASE=

# Mailer
MAILER_DSN=
